<div class="login-box">
    <div class="login-logo">
        <img width="100%" src="../assets/dist/img/ust-equake-logo.png" alt="AdminLTE Logo" class="brand-image">
    </div>
    <div class="card card-outline card-warning">
    <div *ngIf="loading" class="overlay">
        <i class="fas fa-2x fa-sync-alt fa-spin mr-2"></i>
    </div>
    <div class="card-body">
      <p class="login-box-msg">
        You are only one step a way from your new password, recover your
        password now.
      </p>
      <div *ngIf="error !== ''" class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        {{error}}
      </div>
      <form [formGroup]="newPassGroup" (ngSubmit)="onSubmit()">
        <div class="input-group mb-3">
          <input type="{{isShowNewPassword ? 'text' : 'password'}}" class="form-control" placeholder="New Password" autocomplete="off" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
          <div class="input-group-append">
            <div class="input-group-text" (click)="toggleShowNewPassword()">
                <span *ngIf="!isShowNewPassword" class="fas fa-eye"></span>
                <span *ngIf="isShowNewPassword" class="fas fa-eye-slash"></span>
            </div>
          </div>
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div   div *ngIf="f.password.errors.required">Password is required</div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input
            type="{{isShowConfirmNewPassword ? 'text' : 'password'}}"
            class="form-control"
            placeholder="Confirm Password"
            autocomplete="off" formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
          />
          <div class="input-group-append">
            <div class="input-group-text" (click)="toggleShowConfirmPassword()">
                <span *ngIf="!isShowConfirmNewPassword" class="fas fa-eye"></span>
                <span *ngIf="isShowConfirmNewPassword" class="fas fa-eye-slash"></span>
            </div>
          </div>
          <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
            <div div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">
              Change password
            </button>
          </div>
        </div>
      </form>
      <p class="mt-3 mb-1">
        <a routerLink="/auth/login">Login</a>
      </p>
    </div>
  </div>
</div>
